Repository open62541/open62541, pull requests merged in 2019-12, with the labels that each got.

#3311 feat(freertos): Add define to use posix clock functions (supported on ESP32)
  arch/freertosLWIP/ua_clock.c
Labels: Component: Arch, Priority: Low, Status: Merge When Green, Type: Enhancement

#3324 fix(discovery): Avoid duplicate entries in ServersOnNetwork
  src/server/ua_server_discovery_mdns.c
  src/server/ua_services_discovery_multicast.c
Labels: Component: Server, Priority: Low, Status: Merge When Green, Type: Bug

#3326 fix: Remove debug output
  tools/nodeset_compiler/type_parser.py
Labels: Component: Nodeset Compiler, Priority: Low, Status: Merge When Green, Type: Maintenance

#2083 [Review] - First Implementation of Alarms and Conditions
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/building.rst
  doc/tutorials.rst
  examples/CMakeLists.txt
  examples/tutorial_server_alarms_conditions.c
  include/open62541/config.h.in
  include/open62541/server.h
  src/server/ua_server.c
  src/server/ua_server_internal.h
  src/server/ua_services_view.c
  src/server/ua_subscription.h
  src/server/ua_subscription_alarms_conditions.c
  src/server/ua_subscription_events.c
  src/server/ua_subscription_monitoreditem.c
  tools/appveyor/build.ps1
  tools/travis/travis_linux_script.sh
Labels: Component: Server, Priority: Medium, Status: Merge When Green, Type: Enhancement
