Repository open62541/open62541, pull requests merged in 2019-11, with the labels that each got.

#2549 Async monitored items
  include/open62541/client_subscriptions.h
  src/client/ua_client_highlevel.c
  src/client/ua_client_internal.h
  src/client/ua_client_subscriptions.c
  tests/client/check_client_subscriptions.c
Labels: Component: Client, Priority: Low, Status: Review Needed, Type: Enhancement

#3245 fix(docker): Move Docker files into separate directory and fix Docker Cloud build
  README.md
  docker/Dockerfile
  docker/README.md
  tools/travis/travis_linux_script.sh
Labels: Component: CI, Priority: Low, Status: Merge When Green, Type: Enhancement

#3254 fix(core): Backport various base64 encoding/decoding issues
  deps/base64.c
Labels: Component: Core, Priority: High, Status: Merge When Green, Type: Bug

#3259 fix(ns): Rename Minimal.xml to Reduced.xml to match CMake options
  CMakeLists.txt
  examples/nodeset/CMakeLists.txt
  tools/schema/Opc.Ua.NodeSet2.Reduced.xml
Labels: Component: Nodeset Compiler, Priority: Low, Status: Review Needed, Type: Enhancement
