Repository open62541/open62541, pull requests merged in 2022-06, with the labels that each got.

#5162 feat(pubsub): Call statechange callback
  src/pubsub/ua_pubsub.h
  src/pubsub/ua_pubsub_manager.c
  src/pubsub/ua_pubsub_reader.c
  src/pubsub/ua_pubsub_readergroup.c
  src/pubsub/ua_pubsub_writer.c
  src/pubsub/ua_pubsub_writergroup.c
  tests/pubsub/check_pubsub_subscribe_msgrcvtimeout.c
Labels: Component: PubSub

#3405 Example client_encryption ignored invalid certificates
  examples/encryption/client_encryption.c
Labels: Type: Enhancement, Component: Encryption

#5186 fix(doc) set correct branch for documentation upload
  .github/workflows/doc_upload.yml
Labels: Component: CI

#5187 fix(doc) remove unused coveralls badge
  README.md
Labels: Component: CI
