Repository open62541/open62541, pull requests merged in 2022-05, with the labels that each got.

#5088 fix: UA_PubSubTransportLayerMQTT symbol not available in shared library
  plugins/ua_network_pubsub_mqtt.h
Labels: Component: PubSub

#5095 fix(arch): add missing defines for poll on arch freertosLWIP
  arch/common/ua_lwip.h
Labels: Component: Arch

#4955 feat(server): Allow invoking ObjectType's method on its instance
  src/server/ua_services_method.c
  tests/server/check_services_call.c
Labels: Component: Server

#5090 fix(nc) missing executeable flag on tools/generate_nodeid_header.py
  tools/generate_nodeid_header.py
Labels: Component: Nodeset Compiler

#5096 feat(server) remove namespace LATEST_1_05 flag
  CMakeLists.txt
Labels: Component: Server

#4978 feat(server) Add internal API function for Namespace Lookup
  include/open62541/server.h
  src/server/ua_server.c
  src/server/ua_server_internal.h
  tests/server/check_server.c
Labels: Component: Server

#5108 [REVIEW] Feature: eventloop udp cleanup
  arch/eventloop_posix_udp.c
  tests/check_eventloop_udp.c
Labels: Component: PubSub, Component: Eventloop

#4856 fix(encoding): Check arrayLength against arrayDimensions
  src/ua_types_encoding_binary.c
Labels: Component: Core

#5086 fix(mqtt): Switching the MQTT library to upstream.
  .gitmodules
  CMakeLists.txt
  deps/mqtt-c/mqtt.c
  deps/mqtt-c/mqtt.h
  deps/mqtt-c/mqtt_pal.h
  examples/pubsub/tutorial_pubsub_mqtt_publish.c
  include/open62541/config.h.in
  plugins/include/open62541/plugin/pubsub_mqtt.h
  plugins/mqtt/templates/mbedtls_sockets.h
  plugins/mqtt/templates/openssl_sockets.h
  plugins/mqtt/templates/posix_sockets.h
  plugins/mqtt/ua_mqtt-c_adapter.c
  plugins/mqtt/ua_mqtt-c_adapter.h
  plugins/mqtt/ua_mqtt_adapter.c
  plugins/mqtt/ua_mqtt_pal.c
  plugins/ua_pubsub_mqtt.c
  src/pubsub/ua_pubsub_networkmessage.c
  tests/CMakeLists.txt
  tests/pubsub/check_pubsub_connection_mqtt.c
Labels: Priority: High, Component: PubSub
